extends layouts/main.pug

block content
    .form-container 
        .changePassword-container
            form(action=`${routes.users}${routes.change_password}`, method="post")
                div 
                .changePassword-title 비밀번호 변경
                .changePassword-inputs
                    .changePassword-old
                        label(for="oldPassword") 현재 비밀번호
                        input(type="password",id="oldPassword", placeholder="Old Password", name="oldPassword")
                    .changePassword-new
                        label(for="newPassword") 새 비밀번호
                        input(type="password", id="newPassword", placeholder="New Password", name="newPassword")
                    .changePassword-verify
                        label(for="verPassword") 새 비밀번호 확인
                        input(type="password", id="verPassword", placeholder="Verify Password", name="newPassword2")
                    .changePassword-submit
                        input(type="submit", value="비밀번호 변경")