extends layouts/main.pug
include mixins/videoBlock

block content
    .search__header 

    .search__videos 
        .videos__block
            h3   #{searchingBy}
            .videos
                each video in videos 
                    +videoBlock({
                        title: video.title,
                        views: video.views,
                        fileUrl: video.fileUrl,
                        id: video.id
                    })